/* Master Styles */
body {
    font-family: "Montserrat",  sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;

}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
   color: #8a8a8a;
   text-decoration: none;
   transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom:  1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Portfolio styles */

.text-white {
    color: #fff!important;
}

.portfolio-items-wrapper {
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative; 
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper h1 {
    font-weight: 600;
    color: #f5f5f5;
    font-size: 45px;
    margin: 10px 0 0 0;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
    border-color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-text-wrapper button {
  transition: 1s;
  color: transparent;
  border-color: transparent;
}

.img-text-wrapper:hover button {
  color: lightseagreen;
  border-color: lightseagreen;
}

.img-text-wrapper button:hover {
  color: white;
  border-color: lightseagreen;
  background-color: lightseagreen;
}

.btn-outline-info {
    color: #17a2b8;
    border-color: #17a2b8;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.img-blur {
    transition: 1s;
    filter: brightness(10%);
}

/* about */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img {
    width: 60%;
    border-radius: 15px;
    margin-left: 10px;
}

.profile-content-wrapper {
   padding: 30px;
   padding-top: 0;
   margin-top: 0;
}

.profile-content-wrapper p {
    font-size: 16px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

@media screen and (max-width: 1150px) {
    .portfolio-items-wrapper {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      font-family: "Montserrat", sans-serif;
      background-color: rgb(1, 1, 31);
    }
  }

  @media screen and (max-width: 991px) {
    .two-column-wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
    .profile-img-wrapper img {
      width: 50%;
      height: 300px;
      object-position: 100% 0;
      object-fit: fill;
      border-radius: 15px;
    }
  
    .profile-content-wrapper {
      padding: 0;
      margin-top: 10px;
    }
  }
  
  @media screen and (max-width: 827px) {
    .portfolio-items-wrapper {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;
      font-family: "Montserrat", sans-serif;
      background-color: rgb(1, 1, 31);
    }
  }
  
  @media screen and (max-width: 396px) {
    .logo-wrapper h1 {
      font-weight: 700;
      color: #f5f5f5;
      font-size: 38px;
      margin: 10px 0 0 0;
    }
  }
  